<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tracker"
        android:hardwareAccelerated="true"
        tools:targetApi="31">
        
        <!-- Disable window animations -->
        <meta-data
            android:name="android.app.activity_anim_enabled"
            android:value="false" />
            
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Tracker"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:animateLayoutChanges="false">
            
            <!-- Disable all animations -->
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
                
            <meta-data
                android:name="android.app.activity_anim_enabled"
                android:value="false" />
                
            <meta-data
                android:name="android.app.window_animation_scale"
                android:value="0" />
                
            <meta-data
                android:name="android.app.transition_animation_scale"
                android:value="0" />
                
            <meta-data
                android:name="android.app.animator_duration_scale"
                android:value="0" />
                
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>